html, body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
}

.main-wrapper.with-bg {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.outer-wrapper {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 2;
}

.chocochip:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url(../images/m_element_7.png);
    background-size: 96px;
    background-repeat: space;
    z-index: -1;
}

.top-ornament,
.bottom-ornament {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.top-ornament {
    top: 0;
}

.bottom-ornament {
    bottom: 0;
}

.top-ornament .ornament,
.bottom-ornament .ornament {
    max-width: 150px;
}

.center-ornament {
    max-width: 300px;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    .top-ornament .ornament,
    .bottom-ornament .ornament {
        max-width: 200px;
    }

    .center-ornament {
        max-width: 50%;
    }
}

.main-content {
    min-height: 100vh;
}

/* Buttons */

.btn .material-symbols-outlined {
    margin-left: .5rem;
    margin-right: .5rem;
}

.btn-cust {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .75rem;
    --bs-btn-border-radius: 3rem;
}

.btn-cust-primary {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .75rem;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: rgb(215, 2, 39);
    --bs-btn-border-color: rgb(215, 2, 39);
    --bs-btn-border-radius: 3rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: rgb(218, 21, 56);
    --bs-btn-hover-border-color: rgb(218, 21, 56);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: rgb(218, 21, 56);
    --bs-btn-active-border-color: rgb(218, 21, 56);
}

.btn-cust-secondary {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .75rem;
    --bs-btn-font-weight: 600;
    --bs-btn-color: rgb(215 2 39);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: rgb(215 2 39);
    --bs-btn-border-radius: 3rem;
    --bs-btn-hover-color: rgb(218, 21, 56);
    --bs-btn-hover-bg: rgb(228, 228, 228);
    --bs-btn-hover-border-color: rgb(218, 21, 56);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: rgb(228, 228, 228);
    --bs-btn-active-border-color: rgb(218, 21, 56);
}

.btn-cust-blue {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .75rem;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: rgb(24, 92, 238);
    --bs-btn-border-color: rgb(24, 92, 238);
    --bs-btn-border-radius: 3rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: rgb(39, 104, 245);
    --bs-btn-hover-border-color: rgb(39, 104, 245);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: rgb(39, 104, 245);
    --bs-btn-active-border-color: rgb(39, 104, 245);
}

/* Inputs */

.input-group-text {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: #e9ecef;
    padding: 1rem 0.75rem;
    border: none;
}

.custom-form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: none;
    padding: 1rem 0.75rem;
    background-color: #e9ecef;;
}

/* Main Content */

.content-wrapper {
    max-width: 768px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}

.content-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.content-subtitle {
    font-weight: normal;
    font-size: 1rem;
}

.content-logo {
    max-width: 150px;
    margin-bottom: 1rem;
}

.or-login {
    overflow: hidden;
    text-align: center;
}

.or-login:before,
.or-login:after {
    background-color: #ffffff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.or-login:before {
    right: 0.5em;
    margin-left: -50%;
}

.or-login:after {
    left: 0.5em;
    margin-right: -50%;
}

.social-icon {
    max-width: 24px;
}

.hashtags {
    font-weight: bold;
    margin-right: 0.5rem;
    color: var(--bs-white);
}

.card-pick {
    margin-bottom: 2rem;
}

.card-pick > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.card-pick > .row > .col-4 {
    display: inline-block;
}

.card-pick img {
    max-width: 96px;
}

.preview-image > img {
    display: inline;
    max-width: 300px;
}

@media screen and (min-width: 768px) {
    .content-logo {
        max-width: 250px;
    }
}

.konvajs-content {
    height: 400px !important;
}
